.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
*.log
.git
.gitignore
.mypy_cache
.pytest_cache
.hypothesis
node_modules/
dist/
*.local
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
